body {
  font-family: Arial, sans-serif;
  background-color: azure;
}

#quiz-container {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: blueviolet;
  margin-top: 20px;
  background-color: burlywood;
  visibility: hidden;
}

/* timer */
#timer{
  visibility: hidden;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

label {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 10px;
  vertical-align: middle;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
/* 
.navbar{
  background-color: #008CBA;
  display:flex;
  justify-content: space-between;
} */

.navbar a:hover{
  background-color: indigo;
}

/* .navbar{
  background-color: coral;
} */

.bg-dark-1{
  margin-top: 40px;
  
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#footer{
  margin-bottom: 10;
  /* height: 10px; */
}

.linkedin{
  background-color: gold;
  
}
.facebook{
  background-color: gold;
}
.skype{
  background-color: gold;
}
.twitter{
  background-color: gold;

}
.flickr{
  background-color: gold;
}

.footer{
  height: 20px;
}

div.container.text-center{
  height: 20px;
  
}

section#footer.py-5{
height: 20;

}

/* Start quiz button */
#start-quiz-button{
float: right;
background-color: green;
}

#timer{
  text-align: center;
  margin-bottom: 15%;
  font-size: larger;
  color: blue;
}

#welcome-message{
  text-align: center;
  color: blueviolet;
}

h6.m-0.mt-4.text-center.text-white.text-capitalize{
  background-color: black;
  height: 40px;
}

/* Adding media queries to make it mobile responsive */
@media only screen and (max-width:93.75%) {
  /* CSS styles for small screens */
}