body {
  font-family: Arial, sans-serif;
  background-color: azure;
}

#quiz-container {
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: blueviolet;
  margin-top: 20px;
  background-color: burlywood;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

label {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 10px;
  vertical-align: middle;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
/* 
.navbar{
  background-color: #008CBA;
  display:flex;
  justify-content: space-between;
} */

.navbar a:hover{
  background-color: indigo;
}

/* .navbar{
  background-color: coral;
} */

.bg-dark-1{
  margin-top: 40px;
  
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#footer{
  margin-bottom: 10;
  /* height: 10px; */
}

.linkedin{
  background-color: gold;
}

.footer{
  height: 20px;
}

div.container.text-center{
  background-color: chartreuse;
  height: 25px;
  
}

section#footer.py-5{
padding: 25px 5px;
margin-top: 0%;
height: fit-content;
}