body {
  font-family: Arial, sans-serif;
  background-color: azure;
}

#quiz-container {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: blueviolet;
  margin-top: 20px;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
}

label {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

input[type="radio"] {
  margin-right: 10px;
  vertical-align: middle;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
